<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e6dd918a-e886-4c49-801d-6bb4aab0fe13/resourceGroups/5ra_group/providers/Microsoft.Web/sites/5ra</ResourceId>
    <ResourceGroup>5ra_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://5ra.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>5ra.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>5ra</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$5ra</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="ConNaptaDB" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:naptawebapidbserver.database.windows.net,1433;Initial Catalog=NaptaWebAPI_db;User ID=rodriguez@naptawebapidbserver;Password=Zara1509@#" Name="Data Source=tcp:naptawebapidbserver.database.windows.net,1433;Initial Catalog=NaptaWebAPI_db;User Id=rodriguez@naptawebapidbserver;Password=Zara1509@#" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="NaptaBackend.Context, NaptaWebAPI" MigrationConfiguration="NaptaWebAPI.Migrations.Configuration, NaptaWebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ConNaptaDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:naptawebapidbserver.database.windows.net,1433;Initial Catalog=NaptaWebAPI_db;User Id=rodriguez@naptawebapidbserver;Password=Zara1509@#</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>